<%= form_with(model: [tweetpost, comment] ) do |f|  %>
  <div>
    <%= f.text_area :content, placeholder: "コメントを書く", class:"comment-area" %>
  </div>
  <%= f.submit "コメントする", class:"btn comment-btn" %>
<% end %>