<main>
 <div class="container aboutpage">
 <div class="row">
  <div class="col-9 col-md-9"><img src="https://placehold.jp/700x500.png" class="about_topimage"></div>
  <div class="col-3 col-md-3">
   <a>お迎えする</a>
   <a>フォーム位置</a>
   <a>フォームに</a>
   <a>フォーム３</a>
  </div>
 </div>
 
 <div class="row">
  <div class="col-12 col-md-12">about teddy</div>
 </div>
<a>Q:どのようなサービスですか？</a><br>
<a>A:あなたのにんぎょうが主役のサービスです</a><br>
<a>Q:どのようなジャンルがありますか？</a><br>
<a>A:ジャンルは無限です。あなたが作りたい世界を作りましょう。</a><br>
<a>どのようなサービスですか？</a><br>
<a>どのようなサービスですか？</a><br>

<%= link_to  "さあにんぎょうの世界に入ってみましょう!", root_path,class:"btn btn-primary" %>
</div>
</main>