
<% if logged_in? %>
<main>
  <article>
    <div class="container">
      <section>
        <%= render 'shared/feed' %>
      </section>
    </div>
  </article>
</main>
<%= render 'shared/footer' %>
<% else %>
<%= render 'shared/footer' %>

<% end %>