<div class="row">
 <%= render 'users/search_name_form' %>
</div>

<% unless @users.empty? %>
 <% @users.each do |user| %>
  <%= user.name %>
  <%= user.email %>
 <% end %>
<% else %>
 <p>ユーザーが見つかりませんでした</p>
<% end %>