<% @user ||= current_user %>
 <div>
  <a class="following-count">フォロー数<span class="post-strong"><%= @user.following.count %></span></a>
  
  <a class="followers-count">フォロワー数<span class="post-strong"><%= @user.followers.count %></span></a>

 </div>