// Place all the styles related to the Tweetposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: @charset "UTF-8"

@media screen and (min-width:300px) {
    // tweetpost始まり
    .post-container{
        border: solid 1px rgb(146, 227, 240);
        background: rgb(253, 253, 253);
        margin: auto;
        margin-bottom: 30px;
        width: 80%;
        border-radius: 5%;
        
        li{
            list-style-type: none;
        }
        .post-image-name-box{
            padding-left: 30px;
            .post-user-image1{
                box-sizing: border-box;
                display: inline-block;
                background-color: rgb(32, 151, 155);
                background-position: center center;
                background-repeat: no-repeat;
                margin: 5px;
                width: 40px;
                height: 40px;
                background-size: cover;
                border-radius: 50%;
            }
            .post-user-image2{
                box-sizing: border-box;
                display: inline-block;
                background-color: rgb(32, 151, 155);
                background-position: center center;
                background-repeat: no-repeat;
                margin: 5px;
                width: 40px;
                height: 40px;
                background-size: cover;
                border-radius: 50%;
            }
            .post-user-name{
                color: black;
                font-size: 14px;
                &:hover{
                    color: black;
                    text-decoration: none;
                }
                
            }
        }
        .post-tweetpost-image{
            display: inline-block;
            background-color: rgb(32, 151, 155);
            background-position: center center;
            background-repeat: no-repeat;
            width: 661px;
            height: 480px;
            background-size: cover;
            
        }
        
        .post-likecomment-container{
            clear: both;
            .post-left-box{
                li{
                    float: left;
                    font-size: 26px;
                    color: rgb(206, 219, 221);
                    padding-right: 20px;
                    &:first-child{
                        padding-left: -20px;
                    }
                    .unlike{
                        color:rgb(233, 95, 95);
                    }
                }
                
            }
            .post-right-box{
                li{
                    float: left;
                    font-size: 26px;
                    color: rgb(206, 219, 221);
                    padding-right: 20px;
                    &:first-child{
                        padding-left: 340px;
                    }
                }
            }
            .link-clear{
                color: rgb(206, 219, 221);
                &:hover{
                    color: rgb(206, 219, 221);
                }
            }
            
        }
        .post-like-count{
            display: block;
            font-size: 12px;
            font-color: rgb(199, 174, 174);
            clear: both;
            font-weight: bold;
            padding-left: 20px;
        }

        .post-tweetpost-text{
            padding-top: 30px;
            padding-left: 20px;
            display: block;
            font-size: 14px;
            font-family: 'ヒラギノ角ゴ Pro W3';
        }
    }
    // tweetpost-container終わり
    // showページのサムネcss
    .thumb-container{
        width: 75%;
        margin: auto;
        
        .show-tweetpost-thumb{
            width: 33%;
            margin: auto;
            margin-bottom: 30px;
            display: inline-block;
            float: left;
        }
    }
    
    

    // tweetpost投稿フォーム-css
    .tweet-area{
        width: 300px;
        height: 200px;
        resize: none;
        background: #fff0c6;
        border-radius: 2%;
        outline: none;
        padding: 12px;
        overflow: auto;
        font-size: 13px;
    }
    .label{
        color: rgba(0,0,0,0.15);  
        font-family: FontAwesome;
        display:block;
        font-size: 22px;
        margin-left: 200px;
        margin-top: 8px;
    }
    .post-btn{
        background-color: rgb(101, 241, 160);
        border-radius: 10%;
        width: 60px;
        height: 40px;
        font-weight: bold;
        color: white;
        font-size: 14px;
        text-align: center;
        margin-left: 240px;
        margin-top: -75px;
        padding: auto;
    }

    // tweetpost詳細ページ
    .post-show-container{
        
        background: rgb(253, 253, 253);
        margin: auto;
        margin-bottom: 30px;
        width: 50%;
        border-radius: 5%;
        margin-top: 70px;
        
        li{
            list-style-type: none;
        }
        .post-image-name-box{
            padding-left: 30px;
            .post-user-image1{
                box-sizing: border-box;
                display: inline-block;
                background-color: rgb(32, 151, 155);
                background-position: center center;
                background-repeat: no-repeat;
                margin: 5px;
                width: 40px;
                height: 40px;
                background-size: cover;
                border-radius: 50%;
            }
            .post-user-image2{
                box-sizing: border-box;
                display: inline-block;
                background-color: rgb(32, 151, 155);
                background-position: center center;
                background-repeat: no-repeat;
                margin: 5px;
                width: 40px;
                height: 40px;
                background-size: cover;
                border-radius: 50%;
            }
            .post-user-name{
                color: black;
                font-size: 14px;
                &:hover{
                    color: black;
                    text-decoration: none;
                }
                
            }
        }
        .post-tweetpost-image{
            display: inline-block;
            background-color: rgb(32, 151, 155);
            background-position: center center;
            background-repeat: no-repeat;
            width: 661px;
            height: 480px;
            background-size: cover;
            
        }
        
        .post-likecomment-container{
            clear: both;
            .post-left-box{
                li{
                    float: left;
                    font-size: 26px;
                    color: rgb(206, 219, 221);
                    padding-right: 20px;
                    &:first-child{
                        padding-left: -20px;
                    }
                    .unlike{
                        color:rgb(233, 95, 95);
                    }
                }
                
            }
            .post-right-box{
                li{
                    float: left;
                    font-size: 26px;
                    color: rgb(206, 219, 221);
                    padding-right: 20px;
                    &:first-child{
                        padding-left: 340px;
                    }
                }
            }
            .link-clear{
                color: rgb(206, 219, 221);
                &:hover{
                    color: rgb(206, 219, 221);
                }
            }
            
        }
        .post-like-count{
            display: block;
            font-size: 12px;
            font-color: rgb(199, 174, 174);
            clear: both;
            font-weight: bold;
            padding-left: 20px;
        }

        .post-tweetpost-text{
            padding-top: 30px;
            padding-left: 20px;
            display: block;
            font-size: 14px;
            font-family: 'ヒラギノ角ゴ Pro W3';
            border-bottom: rgba(0,0,0,0.15) 2px solid;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }
    }
    .comment-container{
        margin: auto;
        
        padding-left: 50px;
    }
}


@media screen and (min-width:768px) {
}