@charset "UTF-8"
body{ 
    font-family:  'メイリオ','Hiragino Kaku Gothic Pro', sans-self;
}
@media screen and (min-width:300px) {
    footer{
        .footer-container{
            background-color: rgb(61, 235, 127);
            border: solid 2px black;
            clear: both;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            ul li{
                list-style-type: none;
                float: left;
                width: 25%;
                display: block;
                text-align: center;
                font-size: 30px;
            }
            
        }
    }

    // ユーザー詳細ページ
    .show-container{
        background-color: rgb(225, 248, 140);
        border: solid 2px black;
        clear: both;
        height: auto;
        margin-bottom: 40px;
        .show-user-image-box{
            
            
            .show-user-image{
                border-radius: 50%;
                display: block;
                height:auto; 
                margin: 20px;
                float: left;
                max-width: 100%;
                height: auto;
	            box-sizing: border-box;
            }
        }
        
        .show-userprofile-box{
            
            .name-follow-edit-box{
                margin-top:20px;
                .show-user-name{
                    float: left;
                    color:red;
                    font-size:26px;
                }
                .show-follow-form{
                    float: left;
                }
                .show-edit{
                    
                }
            }
            .count-box{
                margin-top: 20px;
                ul li{
                    float:left;
                    list-style-type:none;
                }
                ul li:last-child{
                    float: none;
                }
            }
            .show-profile-text{
                width: 100%;
                font-size: 14px;
                height: auto;
            }
            
        }
    }
}


@media screen and (min-width:768px) {
}